footer{
    background-color: var(--mainColor, black);
    position: relative;
    height: 100%;
}

.dataHotel{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

p{
    color: var(--txtOnMainColor);
    margin: .5rem auto;
}