<app-modal-base [title]="'Iniciar Sesión'" [id]="this.modalId">
    <form [formGroup]="profileForm" #frm="ngForm">
        <div class="modal-body">
            <app-input
                [id]="'email'"
                [control]="profileForm.controls.email">
                    <span label>Correo electrónico</span>
                    <i inputPrefix class="fa fa-user"></i>
            </app-input>

            <app-input
                [id]="'password'"
                [control]="profileForm.controls.password"
                [type]="showPassword ? 'text' : 'password'"
                [hasSuffix]="true">
                    <span label>Contraseña</span>
                    <i inputPrefix class="fa fa-lock"></i>
                    <i
                        inputSuffix
                        class="clickable fa"
                        [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
                        (click)="showPassword = !showPassword">
                    </i>
            </app-input>
        </div>
        <div class="modal-footer">
            <div *ngIf="frm.submitted && loginFailed" class="col-12 errorMsg">
                <p>{{ loginError }}</p>
            </div>

            <button
                type="submit"
                [disabled]="!frm.form.valid"
                class="btn btn-primary"
                (click)="login()">
                    Iniciar Sesión
            </button>
        </div>
    </form>
</app-modal-base>