<nav class="navbar navbar-dark navbar-expand-lg header sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand">
            <h1>Duncan Hill Hotel</h1>
            <hr>
        </a>
        <!--No se por que no va-->
        <div class="btn-group dropleft">
            <div class="container">
                <button type="button" class="btn btn-lg dropdown-toggle" data-toggle="dropdown" id="dropleft1">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Menu item</a>
                    <a class="dropdown-item" href="#">Menu item</a>
                    <a class="dropdown-item" href="#">Menu item</a>
                </div>
            </div>
        </div>
    </div>
</nav>