.header{
    padding: 1em;
}

a.dropdown-item:hover{
    background-color: var(--inverseMainColor);
    filter: invert(0);
}

hr{
    height: 5pt;
    background-image: linear-gradient(to right, var(--mainColor) 70%, white);
    opacity: 100;
}
h1{
    color: black;
}

button{
    color: var(--txtOnMainColor) !important;
}

svg{
    vertical-align: text-top;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.dropdown-menu{
    translate: -90%;
    top: 0;

    background-color: var(--mainColor);
}
.dropdown-item{
    color: var(--txtOnMainColor);
    font-size: x-large;
}


#dropleft1{
    background-color: var(--mainColor);
}