<nav class="navbar navbar-expand-lg header">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <h1>Duncan Hill Hotel</h1>
        </a>
        <!--No se por que no va a la izq-->
        <div class="btn-group dropstart">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Menu item</a></li>
                <li><a class="dropdown-item" href="#">Menu item</a></li>
                <li><a class="dropdown-item" href="#">Menu item</a></li>
            </ul>
        </div>
    </div>
</nav>