.navbar {
    background-color: white;
    box-shadow: 0 .5rem 2rem rgba(black, .4);
}

a.navbar-brand {
    font-size: clamp(1rem, 6vw, 2rem);
    font-weight: 1000;
    text-decoration: none;
    color: black;

    &:hover {
        color: black;
    }
}

.header{
    padding: 1em;
}

.dropdown-item:hover{
    background-color: var(--inverseMainColor) !important;
    filter: invert(0) !important;
}

hr{
    height: 5pt;
    background-image: linear-gradient(to right, var(--mainColor) 70%, white);
    opacity: 100;
    width: 120%;
    border: none;
}
nav{
    background-color: white;
}
button{
    color: var(--txtOnMainColor) !important;
}

svg{
    vertical-align: text-top;
    width: 1em;
    height: 1em;
    fill: var(--txtOnMainColor);
}
i{
    width: 1em;
    height: 1em;
    color: var(--txtOnMainColor);
}

span{
    color: var(--txtOnMainColor);
    font-size: x-large;
}

.dropdown-menu{
    translate: -100%;
    top: 0;
    background-color: var(--mainColor);
}

.dropdown-item{
    color: var(--txtOnMainColor);
    font-size: x-large;
}

.dropdown-toggle {
    background-color: var(--mainColor);

    &:hover {
        background-color: var(--mainColorDark);
    }
}

.dropleft .dropdown-toggle::before {
    transition: all .5s ease-in-out;
}

.dropleft.show .dropdown-toggle::before {
    transform: rotate(180deg);
}