button{
    margin-bottom: 1em;
    width: 8em;
    height: 10em;
}
svg{
    width: 8em;
    height: 8em;
    fill: currentColor;
}
i{
    margin-bottom: 16pt;
}
p{
    margin: 0;
    
}

.d-flex{
    max-width: 1080px;
}