.dropdown-item:hover{
    background-color: var(--inverseMainColor) !important;
    filter: invert(0) !important;
}

.dropdown-item{
    color: var(--txtOnMainColor);
    font-size: x-large;
}

button{
    width: 100%;
    height: 100%;
}