<div class="container" *ngIf="hotel">
    <a [routerLink]="['/', 'hotel', hotel.id, 'details']">
        <div class="card">
            <h2>Sobre Nosotros:</h2>
            <h3>{{ hotel.name }}</h3>
            <p>{{ hotel.shortDescription }}</p>
        </div>
    </a>

    <a [routerLink]="['/', 'location', hotel.location.id,  'details']">
        <div class="card">
            <h2>Sobre Nuestra Casa:</h2>
            <h3>{{ hotel.location.name }}</h3>
            <p>{{ hotel.location.shortDescription }}</p>
        </div>
    </a>

</div>