.card {
    padding: .5rem;
    border-radius: 15px;
    font-size: 1.3rem;
    box-shadow: .2rem .3rem .5rem rgba(black, .7);
    transition: all .2s ease-out;
    margin-bottom: 5rem;
    border-style: outset ;
    border-radius: 1em;
    border-width:   0.5rem;
    border-color: #0d6efd;

    &:hover {
        box-shadow: .2rem .3rem 1rem rgba(black, .7);
        translate: 0 -.5rem;
        text-decoration: none !important;
    }
}

p {
    margin: 0;
    margin-bottom: 3em;
    line-height: 200%;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}