app-image {
  display: block; 
}

.card {
  padding: .5rem;
  border-radius: 15px;
  color: white;
  font-size: 1.3rem;
  box-shadow: .2rem .3rem .5rem rgba(black, .7);
  transition: all .2s ease-out;

  &:hover {
    box-shadow: .2rem .3rem 1rem rgba(black, .7);
    translate: 0 -.5rem;
  }

  &--activity {
    background-color: var(--activityColor);
  }

  &--event {
    background-color: var(--eventColor);
  }

  &--dish {
    background-color: var(--dishColor);
  }
}

p {
  margin: 0;
  margin-top: 0.5rem;
  line-height: 120%;
}