div{
    text-align: center;
    max-width: 80vw;
}

.filterButton{
    width: 100%;
    max-width: 500px;
}

.searchBar{
    padding-right: 0% !important;
    padding-left: 0% !important;
}

.searchBtn{
    width: 20%;
    max-width: 100px;
    min-width: 76px;
}

.searchInput{
    width: 70%;
    max-width: 400px;
}

.btn-primary{
    background-color: var(--mainColor);
    border-color: var(--inverseMainColor);
}