.row {
  border-radius: 1rem;
  background-color: rgb(13, 152, 145);
  max-width: 600px;
  padding: 1rem 2rem;
  margin: 0 auto;

  & > *{
    border-radius: 0px;

    &:first-child{
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child{
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.next-time {
  background-color: rgb(64, 204, 197);
  color: white;
  padding: 10%;
  text-align: center;
  flex: 1 0 auto;
}

ngb-datepicker {
  background-color: white;
  flex: 0 0 0;
}