<div class="container d-flex justify-content-evenly align-text-center">
    <div class="row">
        <div class=" col col-12">
            <h1 class="text-center">Bienvenido a HoteLink</h1>
        </div>
        <div class="col col-12">
            <h4 class="text-center">Tu plataforma hotelera de preferencia</h4>
        </div>
        <hr>
        <div class="col col-12">
            <p class="text-center">Elije que hotel que quieres explorar:</p>
        </div>
        <div class="col-md-6" *ngFor="let hotel of this.hotels">
                <div class="card" (click)="selectHotel(hotel.hotelId)" [routerLink]="['home']">
                    <h1>{{hotel.hotelName}}</h1>
                    <hr>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                        </svg>
                        {{ hotel.locationName }}
                    </span>
                </div>
        </div>
    </div>
</div>