.btn-primary{
    background-color: var(--mainColor);
    border-color: var(--mainColor);
    width: 100%;
}

.container{
    max-width: 800px;
}

hr{
    margin-bottom: 5em;
}
select{
    margin-bottom: 8em;
}