.container-flex{
    text-align: end;
    justify-content: space-evenly;
}

.container{
    width: 80%;
    border: 1em solid ;
    border-radius: 2em;
    padding: 5%;
    margin-bottom: 5%;
}

button{
    margin: 1rem;
}