<h1>Actividades y eventos</h1>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      Quiero buscar:
      <div  class="btn-group" role="group">
        <div *ngFor="let type of types">
        <input type="radio" class="btn-check" name="radio" [id]="'radio'+type" (click)="radioChange(type)">
        <label class="btn btn-outline-primary" for="radio{{type}}">{{ type | bookableType }}</label>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <app-search *ngIf="selectedType" [entity]="selectedType"></app-search>
    </div>
  </div>
</div>