/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto/Roboto-Regular.ttf')
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('./assets/fonts/Roboto/Roboto-Light.ttf')
}

:root{
    --mainColor: rgb(146, 31, 2);
    --mainColorClear : rgb(192, 43, 6);
    --mainColorDark: rgb(105, 21, 0);
    --inverseMainColor: rgb(63, 13, 0);
    --txtOnMainColor: whitesmoke;

    --activityColor: rgb(42, 173, 42);
    --eventColor: rgb(30, 226, 226);
    --dishColor: rgb(211, 108, 23);

    --grey: rgb(128, 128, 128);
    --grey-light: rgb(192, 192, 192);
    --grey-dark: rgb(64, 64, 64);
}

*{
    font-family: 'Roboto';
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-family: 'Roboto-Light';
    font-style: italic;
}

.btn-primary{
    border-color: var(--mainColorClear);
    background-color: var(--mainColorClear);

    &:focus {
        border-color: var(--mainColorClear) !important;
        background-color: var(--inverseMainColor) !important; 
        }

    &:hover{
        border-color: var(--mainColorClear) !important;
        background-color: var(--inverseMainColor) !important; 
        }
    }
app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}